@charset "UTF-8";

    *{margin: 0; padding: 0; text-decoration: none;  box-sizing: border-box;} 
    ul,ol,li{list-style: none;}  
    #wrap{width: 100%; background: black; color: white;} 
    
   @media (max-width:777px){
    header{background-image: url(../img/1.jpg); background-size: cover; width: 100%; position: fixed; top: 0; z-index: 10;}
    #logo{font-family: 'Nanum Myeongjo', serif; font-size: 11vw; text-align: center; font-weight:900; position: relative; top:15px; padding:1% 5% 1% 0;} 
    #logo a{ color: white;}
    
    nav{ height: auto; width: 100%; z-index: 3; display: flex; flex-wrap:wrap;
    position: fixed; right:0; background-image: url(../img/1.jpg);}
    nav::before{content: ""; width: 100%; height: 100%; background: rgba(0,0,0,0.3); position: absolute; z-index: -1;}
    #menu{display: flex; flex-direction: row-reverse;}
    .tap{ position: relative; bottom: 6vw; right: 3%; width: 6vw;}
    .tap:hover{cursor: pointer;}
    
    nav ul li:nth-of-type(1){font-size: 1.1em; text-shadow: 1px 2px 0px gray;font-family: 'Nanum Myeongjo', serif;  padding-left: 15%;}
    nav ul li:nth-of-type(2),nav ul li:nth-of-type(3),nav ul li:nth-of-type(4),nav ul li:nth-of-type(5){padding-left: 15%;}
    nav ul a{color: white; padding: 2%; display: flex; font-size: 1.5em; }
    nav ul a:hover{text-decoration: underline;}
    nav ul{width: 50%; padding-bottom: 10%}
    nav ul li{padding: 3%;}

    #slider{padding-top: 20%; margin: 0 auto; width: 100%; display: flex; justify-content: center;}
    #video{width: 95%;}

    #ct{width: 100%; height: auto; background: black;} 

    .a1{width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content:space-around; align-content: center;}
    .a1 a{display: block; width: 90%; height: auto; margin: 0 auto;}
    .a1 h2{font-size: 10vw; font-family: 'Nanum Myeongjo', serif; color: #e9d595; padding-top: 5%;}
    .a1 h2:hover{color: #e0dccc;}
    .a1 p{color: white; font-size: 5vw;  line-height: 130%; padding: 3% 1% 5% 1% ; text-align: justify; }
    .a1 p br,.a1 img{display: none;}
    
    #box{transform: translateX(-15px); transition: all 2s; opacity: 0;}
    #box .btn{width: 60%; position: relative;  left :23%; right: 2%; background: #e9d595; color: rgb(30, 30, 34); border: none; border-radius: 30px; padding: 2vw 9vw; font-size: 7vw;}
    #box .btn:hover{cursor: pointer; background: #e9dba4;}    

    .ab{width: 100%; margin: 0 auto; background-image: url(../img/2.jpg); background-size:cover ; background-position: center;}
    #second{width: 95%; height: auto; margin: 0 auto; padding-top: 20%; }
    #second h1{font-size: 9vw; font-family: 'Nanum Myeongjo', serif; text-align: center; padding: 4vw 0 2vw 0;  }
    #second article{display: flex; flex-wrap: wrap;}
    #second article img{width: 95%; margin: 0 auto; display: block;}
    #second p {transform: translateX(15px); transition: all 2s; opacity: 0; display: flex; flex-wrap: wrap; justify-content: center; font-size: 6vw;  line-height: 120%; padding: 5% 0%; } 
    
    #second span{font-size: 9.5vw; color: #e6c761;}
    #second article .btn{background: #e9d595; margin-top: 6%; color: rgb(30, 30, 34); border: none; border-radius: 30px; padding: 2vw 9vw; font-size: 7vw;}
    #second article .btn:hover{cursor: pointer; background: #e9dba4;} 


    .rose{width: 100%; height: auto; padding-bottom: 15%; } 
    .rose h1{transform: translateY(40px); transition: all 2s; opacity: 0; font-size: 10vw; text-align: center; padding: 70px 0 10px 0; color: #e6c761; font-family: 'Nanum Myeongjo', serif;} 
    .rose p{font-size: 5.5vw; font-family: 'Nanum Myeongjo', serif; text-shadow: 2px 2px 1px black; position: relative; top: 50%; }
    #third{width: 100%; height: 55vw; margin: 0 auto; display: flex; align-items: center; background-image: url("../img/flower-2.jpg"); background-position: center; background-size: cover;} 
    #third article{width: 60%; height: 100px; margin: 0 auto; }
    
    #men{transform: translateY(50px); transition: all 2s; opacity: 0; width: 23vw; position: relative; left: 15%; top: 40px; }
    #derec{position: relative; top: 8vh;  width: 20vw; }   


    .a4{width: 100%; margin: 0 auto; padding-top: 20%; display: flex; flex-wrap: wrap; justify-content: space-evenly; }
    .a4 article{ width: 80%;  }
    .gift h1{transform: translateX(-15px); transition: all 2s; opacity: 0; font-size: 10vw;  padding: 5% 2% 2% 2%;font-family: 'Nanum Myeongjo', serif; }
    .gift:nth-of-type(2) h1{text-align: right;}
    .gift h1 a{color: #e6c761;}
    .gift h1 a:hover{color:#e9d595;}
    .gift:nth-of-type(1) p{font-size: 6vw; padding: 0 2% 30% 2%;}
    .gift:nth-of-type(2) p{text-align: right; font-size: 6vw; padding: 0 2% 10% 2%;}
    .gift img:hover{opacity: 0.9;}
    .gift img{width: 100%;}
    .drec{display: none;}
    
    .a5{ width: 100%; background-image: url(../img/4.jpg); background-position: center; background-size: cover;}    
    #story{width: 100%; height: auto; margin: 0 auto; display: flex; flex-wrap: wrap;
    justify-content: space-evenly}
    #story h1{ font-size: 10.5vw; font-family: 'Chakra Petch', sans-serif; text-align:center; padding: 20% 0 4% 0; width: 100%;}
    #story span{color:#ffeb7c;}
    #story h2{font-size: 5vw; color: black; padding: 2% 1% 1% 1%;}
    #story p{color: black; padding-bottom: 5%; font-size: 4vw;}
    #story a{width: 47%; color: white;}
    #story a:nth-of-type(3){display: none;}
    #story img{width: 100%;}
    #story img:hover{opacity: 0.9;}

   #last{width: 100%;  background: white; padding: 10% 0 5% 0;}
    #part{width: 80%;  margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; padding-top: 5%;}
    #part h2{ width: 100%; text-align: center; color: rgb(77, 75, 75); font-size: 4vw; font-family: 'Nanum Myeongjo', serif;}
    #part h2 a{color: rgb(66, 66, 66);} 
    #part h3{width: 100%; font-size: 3vw; color:#e6c761; font-weight: 100; text-align: center;} 
    #part a{width: 10%;}
    #part a img{width: 100%;}

    footer{width: 100%; height:auto; background: #eee; }
    footer p{color: gray; font-size: 1px; padding-bottom: 4%;}
    footer p br{display: none;}
    #footer{width: 95%; height: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
    .logo2{width: 100%; display: flex; justify-content: center;}
    .logo2 img{width: 20%; padding: 5%;}
    .etc{width: 90%; }

    #sns{display: flex; width: 25%; height: 50px; justify-content: space-around;}
    #sns img{width: 80%; padding: 5%; display: flex;}
    }










    @media (min-width:778px) and (max-width:1999px){
        header{background-image: url(../img/1.jpg); height: auto; width: 100%;}
        #logo{font-family: "Baskerville Old Face"; font-size: 7vw; text-align: center;  position: relative; top: 15px;} 
        #logo a{color: white;}
        
        nav{display: flex;  justify-content: space-between;  width: 80%; 
        position: absolute;  left: 50%; z-index: 3; transform: translateX(-50%); background: rgba(0,0,0,0.5)}
        #menu{display: flex; flex-direction: row-reverse;}
        .tap{ position: relative; bottom: 3vw; right: 3%; width: 4vw;}
        .tap:hover{cursor: pointer;}
        nav ul li:nth-of-type(1){font-size: 1.5em; font-family: 'Nanum Myeongjo', serif; font-weight: bold;}
        nav ul a{color: white; padding: 18px; display: flex; font-size: 1.2em; }
        nav ul a:hover{text-decoration: underline;}
    
        #slider{background-image:url(../img/2.jpg); background-size: cover; background-position: center; margin: 0 auto; width: 100%; display: flex; justify-content: center;}
        #video{width: 80%;}
    
        #ct{width: 100%; background: black;} 
    
        .a1{width: 100%; margin: 0 auto; padding: 7% 0;}
        .a1 a{display: block; width: 90%; margin: 0 auto; position: relative; z-index: 3; top: 20vw;}
        .a1 h2{font-size: 5vw; font-family:"바탕"; color: #e9d595;}
        .a1 h2:hover{color: #e0dccc;}
        .a1 p{font-size: 2.3vw; line-height: 4vw; color: white;}
        .a1 img{width: 80%; position: relative; top: -10vh; left: 20%; bottom: 15vh; }
        
        #box{transform: translateX(-100px); transition: all 2s; opacity: 0;}
        #box .btn{position: relative; top:2vh; left: 2%; background: #e9d595; color: rgb(30, 30, 34); border: none; border-radius: 30px; padding: 0.7vw 8vw; font-size: 2vw; width: 29%;}
        #box .btn:hover{cursor: pointer; background: #e9dba4;}    
            
        .ab{width: 100%; margin: 0 auto; background-image: url(../img/3.jpg); background-size:cover ;}
        .ab:hover{background-image: url(../img/2.jpg);}
        #second{width: 83%; height: auto; margin: 0 auto;   }
        #second h1{font-size: 6vw; font-family:"바탕"; text-align: center; padding-bottom: 4vw; position: relative; }
        #second article{display: flex;}
        #second article img{width: 55%; display: block;}
        #second p {transform: translateX(60px); transition: all 1s; opacity: 0;  width: 50%; text-align: right; font-size: 2.3vw; position: relative; top: 70px; line-height: 3vw; font-weight:lighter;} 
        #second span{font-size: 6vw; color: #e6c761;}
        #second article .btn{background: #e9d595; color: rgb(30, 30, 34); border: none; border-radius: 30px;  padding: 0.7vw 8vw; font-size: 2vw;
        position: relative; top: 7vw; right: 10%; }
        #second article .btn:hover{cursor: pointer; background: #e9dba4;} 
    
    
        .rose{width: 100%; padding: 8% 0; } 
        .rose h1{transform: translateY(20px); transition: all 1s; opacity: 0; font-size: 5.5vw; text-align: center; padding: 70px 0 30px 0; color: #e6c761; font-family:"바탕";}
        .rose p{font-size: 4vw; font-family:"바탕"; text-shadow: 2px 2px 3px black; position: relative; top: 80%;}
        #third{width: 100%; margin: 0 auto; display: flex; align-items: center; background-image: url("../img/flower-2.jpg"); background-position: center; background-size: cover;} 
        #third article{width: 60%; height: 100px; margin: 0 auto; }
        
        #men{transform: translateY(200px); transition: all 1.5s; opacity: 0; width: 19vw; position: relative; left: 35%; top: 50px; }
        #derec{position: relative; top: 12vh;  width: 15vw; }   
    
    
        .a4{width: 100%; margin: 0 auto; display: flex; justify-content: space-evenly; position: relative;}
        .a4 article{ width: 47%; padding: 15vh 0vw 10vh 0vw; }
        .gift #hand1,.gift #hand2{width: 100%;} 
        .gift h1{transform: translateX(-20px); transition: all 1.5s; opacity: 0; font-size: 4.5vw; padding: 10% 0; font-family: "바탕"; }
        .gift h1 a{color: #e6c761;}
        .gift h1 a:hover{color:#e9d595;}
        .gift p{font-size: 2vw; padding-bottom: 5%; font-weight: 300;}
        .gift img:hover{opacity: 0.9;}
        .gift img{width: 20%;}
        
        .a5{width: 100%; background-image: url(../img/4.jpg); background-position: center; background-size: cover;}    
        #story{width: 90%; height: auto; margin: 0 auto; display: flex; flex-wrap: wrap;
        justify-content: space-between;}
        #story h1{ font-size: 4.5vw; text-align:center; padding: 8% 0 5% 0; font-family: 'Chakra Petch', sans-serif; width: 100%;}
        #story span{color:#ffeb7c;}
        #story h2, #story p{color: black; padding: 2%;}
        
        #story a{width: 32%; color: white;}
        #story img{width: 100%;}
        #story img:hover{transform: scale(0.97);}
    
       #last{width: 100%;  background: white; padding: 10% 0 5% 0;}
        #part{width: 80%;  margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; }
        #part h2{ width: 100%; text-align: center;  font-weight: 100; color: rgb(77, 75, 75); font-size: 3vw; 
         font-family: "Baskerville Old Face";}
        #part h2 a{color: rgb(66, 66, 66);} 
        #part h3{width: 100%; font-size: 3vw; color:#e6c761; font-weight: 100; text-align: center;} 
        #part a{width: 10%;}
        #part a img{width: 100%;}
    
        footer{width: 100%; background: #eee; }
        footer p{color: gray; font-size: 0.75vw; padding: 5% 0;}
        #footer{width: 80%; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
        .logo2{width: 15%; }
        .logo2 img{width: 50%; display: flex; }
        .etc{width: 60%; }
    
        #sns{display: flex; width: 15%; height: 50px; justify-content: space-around;}
        #sns img{width: 70%; height: auto; display: flex;}
         
    }












    @media (min-width:1200px){
        header{background-image: url(../img/2.jpg); background-position: center; height: auto; width: 100%;}
        #logo{ font-family: "Baskerville Old Face"; font-size: 3.7vw; text-align: center; padding-bottom: 1% ; font-weight: 500; position: relative; top: 1vw; } 
        #logo a{color: white;}
        
        nav{display: flex;  justify-content: space-between;  width: 70%; 
        position: absolute;  left: 50%; z-index: 3; transform: translateX(-50%); background: rgba(0,0,0,0.5)}
        #menu{display: flex; flex-direction: row-reverse;}
        .tap{ position: absolute; top: 5%; right: 3%; width: 2.5vw;}
        .tap:hover{cursor: pointer;}
        nav ul li:nth-of-type(1){font-size: 1.3em; font-family: "바탕"; font-weight: bold;}
        nav ul a{color: white; padding: 18px; display: flex; font-size: 1.4em; }
        nav ul a:hover{text-decoration: underline;}
    
        #slider{background-image:url(../img/2.jpg); background-size: cover; background-position: center; margin: 0 auto; width: 100%;  height: 38vw; display: flex; justify-content: center;}
        #video{width: 70%;}
    
        #ct{width: 100%; height: auto; background: black;} 
    
        .a1{width: 100%; height: 51vw; margin: 0 auto;  position: relative; padding: 10% 0;}
        .a1 a{display: block; width: 80%; height: auto; margin: 0 auto; position: relative; z-index: 3; top: 35%}
        .a1 h2{font-size: 4vw; font-family:"바탕"; color: #e9d595; }
        .a1 h2:hover{color: #e0dccc;}
        .a1 p{font-size: 1.7vw;  line-height: 4vw; color: white;}
        .a1 img{width: 80%; position: absolute; top: 15%; right: 0;}
        
        #box .btn{width: 25%; position: relative; top:3vh; left: 2%; background: #e9d595; color: rgb(30, 30, 34); border: none; border-radius: 30px; padding: 0.5vw 6vw; font-size: 1.5vw;}
        #box .btn:hover{cursor: pointer; background: #e9dba4;}    
    
        .ab{width: 100%; margin: 0 auto; background-image: url(../img/3.jpg); background-size:cover ;}
        .ab:hover{background-image: url(../img/2.jpg);}
        #second{width: 70%; height: auto; margin: 0 auto; }
        #second h1{font-size: 4vw; font-family:"바탕"; text-align: center; padding-bottom: 4vw; position: relative; }
        #second article{display: flex; padding-bottom: 15%;}
        #second article img{width: 55%; display: block;}
        #second p { width: 50%; text-align: right; font-size: 2vw; position: relative; top: 70px; line-height: 3vw; font-weight:lighter;} 
        #second span{font-size: 5vw; color: #e6c761;}
        #second article .btn{background: #e9d595; color: rgb(30, 30, 34); border: none; border-radius: 30px; padding: 0.5vw 6vw; font-size: 1.5vw;
        position: relative; top: 1.2vw; }
        #second article .btn:hover{cursor: pointer; background: #e9dba4;} 
    
    
        .rose{width: 100%;} 
        .rose h1{font-size: 4vw; text-align: center; padding: 70px 0 30px 0; color: #e6c761; font-family:"바탕";} 
        .rose p{font-size: 3vw; font-family:"바탕"; text-shadow: 2px 2px 3px black; position: relative; top: 80%;}
        #third{width: 100%; height: 650px; margin: 0 auto; display: flex; align-items: center; background-image: url("../img/flower-2.jpg"); background-position: center; background-size: cover;} 
        #third article{width: 60%; height: 100px; margin: 0 auto; }
        
        #men{width: 15vw; position: relative; left: 70%; top: 50px; }
        #derec{position: relative; top: 20vh;  width: 15vw; }   
    
    
        .a4{width: 100%; margin: 0 auto; display: flex; justify-content: center; position: relative;}
        .a4 article{ width: 40%; padding: 30vh 4vw 20vh 4vw; }
        .gift #hand1,.gift #hand2{width: 100%;} 
        .gift h1{font-size: 3.5vw; padding: 10% 0; font-family: "바탕"; }
        .gift h1 a{color: #e6c761;}
        .gift h1 a:hover{color:#e9d595;}
        .gift p{font-size: 1.6vw; padding-bottom: 5%; font-weight: 300;}
        .gift img:hover{opacity: 0.9;}
        .gift img{width: 15%;}

        .a5{width: 100%; background-image: url(../img/4.jpg); background-position: center; background-size: cover;}    
        #story{width: 80%; height: auto; margin: 0 auto; display: flex; flex-wrap: wrap;
        justify-content: space-between;}
        #story h1{font-size: 3.5vw; text-align:center; padding: 8% 0 5% 0; 
            font-family: 'Chakra Petch', sans-serif; 
           width: 100%;}
        #story span{color:#ffeb7c;}
        #story h2{font-size: 1.8vw; color: black; padding: 2% 2% 0 2%;}
        #story p{font-size: 1.4vw; color: black; ;}
        
        #story a{width: 30%; color: white;}
        #story img{width: 100%;}
        #story img:hover{transform: scale(0.97);}
    
       #last{width: 100%;  background: white; padding: 10% 0 5% 0;}
        #part{width: 80%;  margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; }
        #part h2{ width: 100%; text-align: center;  font-weight: 100; color: rgb(77, 75, 75); font-size: 3vw; 
         font-family: "Baskerville Old Face";}
        #part h2 a{color: rgb(66, 66, 66);} 
        #part h3{width: 100%; font-size: 3vw; color:#e6c761; font-weight: 100; text-align: center;} 
        #part a{width: 10%;}
        #part a img{width: 100%;}
    
        footer{width: 100%; height: auto; background: #eee; }
        footer p{color: gray; font-size: 0.75vw; padding: 3% 0;}
        #footer{width: 80%; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
        .logo2{width: 15%; }
        .logo2 img{width: 50%; display: flex; }
        .etc{width: 60%; }
    
        #sns{display: flex; width: 15%; height: auto; justify-content: space-around;}
        #sns img{width: 70%; display: flex;}
        
    
    

    }